@media (max-width: 1024px) {
    .address, .number, .email {
        margin-left: 100px;
        text-align: left;
    }

    .form-row .form-group {
        width: 100%;
    }

    .contact h2 {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .address, .number, .email {
        margin-left: 50px;
    }

    .contact h2 {
        font-size: 30px;
    }
    .address p{
        color:#7e7c7c ;
        font-size: 10px;
    }
    .number{
        float: left;
        margin-left: 20px;
    }
    .number p{
        color: #7e7c7c;
        font-size: 10px;
    }
    .email{
        float: left;
        margin-left: 40px;
    }
    .email a{
        font-size: 10px;
    }
    .form-row .form-group {
        width: 100%;
    }

    .container {
        width: 400px;
    }

    .form-row {
    display: flex;
    justify-content: space-between;
    }  
    .form-row .form-group{
     width: 150px;
    }
    .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 350px;
    }

    .form-group label {
    float: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    }

    .form-group input,
    .form-group textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 100%;
    }

    .form-group input:focus,
    .form-group textarea:focus {
    border-color: #000000;
    }

    textarea {
    resize: none;
    }

    .submit-btn {
    background-color: #363434;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
}

@media (max-width: 480px) {
    .contact h2 {
        font-size: 25px;
    }

    .address p, .number p, .email a {
        font-size: 16px;
    }
    .address p{
        color:#7e7c7c ;
        font-size: 10px;
    }
    .number{
        float: left;
        margin-left: 20px;
    }
    .number p{
        color: #7e7c7c;
        font-size: 10px;
    }
    .email{
        float: left;
        margin-left: 40px;
    }
    .email a{
        font-size: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        width: 100%;
    }
}