{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="container" style="background-color: grey;border-radius:10px;border: 2px black;margin-left:500px;margin-top:250px;padding:50px;width:500px;height:250px;>
         <h2 style="color:black;margin-left:50px">Message Sent Successfully!</h2>
         <p style="color:black;margin-left:30px;margin-top:50px;">Thank you, {{ firstname }}. Your message has been sent.</p>
         <a href="{% url 'home' %}" margin-left:80px;margin-top:50px>Go back to Home</a>
    </div>
</body>
</html>
